{% extends "base.html" %}

{% block title %}صفحة الطالب{% endblock %}

{% block content %}
   <p>
    <a class="btn btn-primary" href="{% url 'student_edit' %}">
        <i class="fas fa-edit"></i>تعديل بياناتي
    </a>
</p>


   <h1 class="text-center">موادي</h1>
<section class="section">
      <div class="container">
<div class="col-12 mb-5">
    {% for course in object_list %}
    <div class="list-group list-group-horizontal text-center">
        <a href="{% url 'student_course_details' course.id %}" class="list-group-item list-group-item-action">{{ course.title }}</a>
    </div>
    {% endfor %}
</div>
      </div>
    </section>
 {% endblock %}
