{% extends "base.html" %}
{% load static %}
{% block title %}تعديل بياناتي{% endblock %}

{% block content %}
    <h1 class="text-center">تعديل بياناتي</h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3">
        <button type="submit" class="btn btn-success me-2" name="action" value="save">حفظ <i class="fa-regular fa-floppy-disk"></i></button>
            <a href="{% url 'password_change' %}"class="btn btn-warning">تغيير كلمة السر</a>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">رجوع</a>
            </div>
        <input type="file" class="custom-file-input">
    </form>


</div>
{% endblock %}
