{% extends "base.html" %}
{% load custom_tags %}
{% block title %}نتيجة الامتحان{% endblock %}

{% block content %}
<div class="container">
        <h1 class="mt-4 mb-3">النتيجة</h1>
        <ul class="list-group">
            {% for answer in answered_questions %}
                {% if answer.selected_choice == correct_answers|get_dict_value:answer.exam_question.id %}
                    <li class="list-group-item correct-answer">
                {% else %}
                    <li class="list-group-item incorrect-answer">
                {% endif %}
                    <strong>السؤال:</strong> {{ answer.exam_question.question.question_text }}<br>
                    <strong>إجابتك:</strong> {{ answer.selected_choice.choice_text }}<br>
                    <strong>الإجابة الصحيحة:</strong>
                    {% for key, value in correct_answers.items %}
                        {% if key == answer.exam_question.id %}
                            {{ value.choice_text }}
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    <br>
        <h3 class="text-center">النتيجة {{ total_marks_obtained }}</h3>
    </div>
{% endblock %}
