{% extends "base.html" %}

{% block title %}إنشاء امتحان{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">إنشاء امتحان</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'manage_course_list' %}" class="btn btn-secondary">الرجوع إلى دوراتي</a>
        <button type="submit" class="btn btn-primary me-2" name="generate" value="generate">إنشاء أسئلة <i class="fas fa-file-alt"></i></button>
        <button type="submit" class="btn btn-success me-2" name="confirm" value="confirm" {% if not questions %} disabled {% endif %}>إنشاء امتحان</button>
    </form>

    {% if questions %}
    <h2>الأسئلة:</h2>
    <ul>
        {% for question in questions %}
            <li>{{ question.question_text }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<br>
{% endblock %}
