{% extends "base.html" %}

{% block title %}{% if form.instance.pk %}Update Question{% else %}Create Question{% endif %}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Update Question{% else %}Create Question{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <fieldset>
            <legend>Choices</legend>
            {{ choice_formset.management_form }}
            {% for choice_form in choice_formset %}
                <div>
                    {{ choice_form.choice_text }}
                    {{ choice_form.is_correct }}
                    {{ choice_form.id }}
                </div>
            {% endfor %}
        </fieldset>
        {% if formset_errors %}
            <ul>
                {% for error in formset_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">Save</button>
        {% if not form.instance.pk %}
            <button type="submit" name="save_and_add_another" value="true">Save and Add Another</button>
        {% endif %}
        <a href="{% url 'question_list' course_id  %}">Cancel</a>
    </form>
{% endblock %}
