{% extends "base.html" %}

{% block title %}بنك الأسئلة لدورة {{ course.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3 text-center">بنك الأسئلة لدورة {{ course.title}}</h1>
    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
                {{ question.question_text }}
                <ul class="list-group mt-2">
                    {% for choice in question.choices.all %}
                        <li class="list-group-item">
                            {{ choice.choice_text }}
                            {% if choice.is_correct %}
                                <span class="badge bg-success">صحيح</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <br>
                <a href="{% url 'question_edit' pk=question.pk %}" class="btn btn-primary btn-sm me-2">تحرير <i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'question_delete' pk=question.pk %}" class="btn btn-danger btn-sm">حذف <i class="fa-solid fa-trash"></i></a>
            </li>
        <br>
        {% endfor %}
    <a href="{% url 'generate_exam_from_question_bank' question_bank_id=question_bank_id %}" class="btn btn-success mt-3">إنشاء امتحان <i class="fas fa-tasks"></i></a>
    </ul>
    <a href="{% url 'question_add' question_bank_id=question_bank_id %}"><div class="add-content-button" id="addContentButton"><i class="fa-solid fa-plus"></i></div></a>
</div>
{% endblock %}
