{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{% static 'css/under_construction.css' %}" rel="stylesheet">
    <title> جامعة الإمام الأعظم أبي حنيفة النعمان</title>

<body>


<div class="overlay"></div>
<div class="stars" aria-hidden="true"></div>
<div class="starts2" aria-hidden="true"></div>
<div class="stars3" aria-hidden="true"></div>
<main class="main">
	<section class="contact">
		<h1 class="title">جامعـة الإمام الأعظـم<br> أبي حنيفـــة النعمــان</h1><br>
		<h2 class="sub-title">القسم قيـــد الإنشــاء</h2>
	</section>
</main>
</body>
</html>