{% extends "base.html" %}
{% load static %}
{% block title %}من نحن{% endblock %}
{% block content %}
<section class="section">

      <div class="container my-3">
        <div class="row">

          <div class="col-md-6 col-12">
            <div class="project__item">
              <h2 class="golden-after mb-4">من نحن</h2>
              <p class="p-whoweare">
                بسم الله الرحمن الرحيم
                الحمد لله حمدا يوافي نعمه، ويدفع نقمه، ويكافىء مزيده،والصلاة والسلام على خير خلق الله، وآله وصحبه محمد سيدنا والتابعين لهم بإحسان آلى يوم الدين .
                <br>
                أما بعد الإخوة والأخوات الكرام:
                السلام عليكم ورحمة الله تعالى وبركاته،
                بفضل الله تبارك وتعالى، وبعد الاستخارة، والاستشارة، تم افتتاح أكاديمية الإمام الأعظم أبي حنيفة النعمان رضي الله تعالى عنه .
                <br class="mb-2">
                <a href="https://youtu.be/i9gXUg4jXo0?si=qsyb-Tg-2m8j6h9b" class="text-danger"> شاهد كلمة رئيس الجامعة أسامة محمد سميح الأبرش.</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div>
              <img class="w-100 border img-radius" src="{% static 'images/who_we_are.jpg' %}"></img>
            </div>
          </div>

          <div class="col-12 mt-4">
            <div class="project__item">
              <p class="p-whoweare">
                <span class="text-danger">من نحن:</span>
                مسلمون مؤمنون علَّمنا الله عز وجل علمًا وجب علينا نشره والإعانة على نشره، وهذا فضل الله سبحانه وتعالى علينا.
                <br><br>
                <span class="text-danger">ماهو اعتقادنا:</span>
                الإيمان بأركان الإيمان الستة:
                {أن تؤمن بالله وملائكته وكتبه ورسله واليوم الآخر والقدر خيره وشره} .
                إثبات النصوص من غير تعطيل ولا تشبيه ولا تمثيل.
                <br><br>
                <span class="text-danger">رؤيتنا:</span>
                أن تكون جامعة الإمام الأعظم أبي حنيفه النعمان منارة علمية، يشع نورها إلى كل أنحاء العالم
                <br>
                تيسير العلوم المفيدة بأنواعها كافة، وتبسيطها لتكون في متناول جميع الناس على اختلاف ثقافاتهم ومجتمعاتهم.
                <br>
                التميز في المناهج، وتحقيق الجودة في تقديم المعلومة.
                <br>
                خدمة الأمة والإنسانية من خلال المساهمة في بناء المجتمعات الحضارية، التي تسودها القيم والأخلاق السامية.
                <br>
                تحقيق العالمية في التعليم.
                <br><br>
                <span class="text-danger">رسالتنا:</span>
                بناء الإنسان المتعلم المؤمن، الواثق بقدراته، القادر على المساهمة في نهضة أمته، ورفعتها وعلو شأنها، مستعيناً بخالقه.
                <br>
                استثمار الطاقات البشرية وتوجيهها نحو تحقيق النفع والخير للبشرية.
                <br>
                المساهمة في نشر الأخلاق والقيم الإيجابية، والعمل على استئصال العادات السلبية، والأخلاق الذميمة من المجتمعات الإنسانية.
                <br><br>
                <span class="text-danger">هدفنا: </span>
                المساهمة في بناء جيل مؤمن صادق قوي محبّ لخالقه العظيم، محب لنبيه الكريم صلى الله عليه و آله وصحبه و سلم، محب للصحابة الكرام رضي الله تعالى عنهم، ويسير على نهجهم.
                <br>
                بناء الشخصية العلمية المتوازنة لطالب العلم.
                <br>
                تفجير الطاقات الشبابية، واستثمارها في ميادين التنمية المختلفة، ومساعدة الطالب أينما كان، وفي أي وقت للتغلب على صعوبات التعليم.
                <br>
                رفد سوق العمل بكوادر بشرية مؤهلة، وقادرة على مواكبة التطور العلمي والتقني.
                <br>
                إعداد الطالب إعداداً متميزاً، والمساهمة في صقل شخصيته الثقافية ضمن إطار من الأخلاق الراقية.
                <br>
                الاستفادة من الثورة التقنية بالتوجه نحو التعليم الإلكتروني (عن بعد( وابتكار طرق تدريس جديدة تتماشى مع التطور التقني والتكنولوجي.
                <br><br>
                <span class="text-danger">تطلعاتنا:</span>
                نشر العلوم الشرعية والكونية المفيدة في مراحلها كافة، من الصفر إلى أعلى درجاتها المعروفة كالدكتور والبروفيسور.
                <br><br>
                <span class="text-danger">المدرِّسون:</span>
                كل طالب علم، مخلص، خلوق، مسلم، يتبع أهل السنة والجماعة أتباع أحد المذاهب الأربعة المعتمدة، أشعري أو ماتريدي في عقيدته.
                <br><br>
                ليس لديناعلاقة بأي جماعة فكرية، أوجهة سياسية، أو حزبية.
                <br><br>
                <span class="lead"><strong>خادم العلوم الشرعية
                المشرف العام
                  أسامة محمد سميح الأبرش.</strong>
                </span>
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>

{% endblock %}
