{% extends "base.html" %}
{% load static %}
{% block title %}أ. عمار بازرباشي{% endblock %}

{% block content %}

<section class="section bg-light">
      <div class="container text-center">
        <img src="{% static 'images/management/dr_ammar.jpg' %}" class="w-75" alt="">
      </div>
    </section>

<section class="section bg-light">

      <div class="container mb-5">
        <div class="row">

          <div class="col-12">
            <h2 class="mb-4 golden-after">عميد كلية الشريعة والدراسات الإسلامية ورئيس قسم القرآن الكريم وعلومه  </h2>
          </div>

          <div class="col-12 mt-4">
            <p class="lead p-staff">

              من مواليد سورية - حلب الشهباء  ١٩٧٥  م ومقيم  الآن  بمدينة حلب
              <br>
              إجازة  في القراءات الصغرى  العشر من طريق الشاطبية والدرة و الكبرى من طريق طيبة النشر
              <br>

              ليسانس  ادارة  الأعمال.
              <br>
              ماجستير في الدارسات الإسلامية من كلية الامام  الاوزاعي
              <br>
              إجازة في بعض كتب الحديث: كتاب  الشمائل  للامام  الترمذي، إجازة في  الأوائل  السنبلية، وإجازات أخرى ،وإجازة بالسند المتصل، برياض الصالحين والأربعين...
              <br>
              بعض من الدورات  والندوات التي حضرتها:
              <br>
              ﺩﻭﺭﺓ ﻓﻲ ﻋﻠﻢ ﺗﺤﻘﻴﻖ ﺍﻟﻤﺨﻄﻮﻃﺎﺕ ﻟﻌﺪﺩ ﻣﻦ ﻛﺒﺎﺭ ﺍﻟﺒﺎﺣﺜﻴﻦ، ﻧﺪﻭﺓ ﺍﻓﺘﺘﺎﺡ ﺍﻟﺒﻨﻮﻙ ﺍﻻﺳﻼﻣﻴﺔ، ﺩﻭﺭﺍﺕ ﻓﻲ ﺍﻟﺤﺎﺳﺐ ﺍﻻﻟﻲ.
              <br>
              ﺷﻬﺎﺩﺓ Icdl، ﺑﺮﺍﻣﺞ ﺍﻟﺘﺼﻤﻴﻢ، ﺻﻴﺎﻧﺔ ﺍﻟﺤﺎﺳﻮﺏ ‏( ﻭﻗﺪ ﻋﻤلت ﻓﻲ ﺑﻴﻊ ﻭﺻﻴﺎﻧﺔ ﺍﻟﺤﺎﺳﻮﺏ ﻟﺴﻨﻮﺍﺕ ﻭﺻﻤمت ﻭﻧﺸﺮت ﻋﺪﺩﺍ ﻛﺒﻴﺮﺍ ﻣﻦ ﺍﻻﻗﺮﺍﺹ ﻟﻠﺒﺮﺍﻣﺞ ﺍﻟﻌﺮﺑﻴﺔ ﻭﺍﻻﺳﻼﻣﻴﺔ ).
              <br>
              ﺩﻭﺭﺍﺕ ﻓﻲ ﺍﻟﺘﻨﻤﻴﺔ ﺍﻟﺒﺸﺮﻳﺔ: ﺍﻟﺒﺮﻣﺠﺔ ﺍﻟﻠﻐﻮﻳﺔ Tot ﻓﻦ ﺍﻹﻟﻘﺎﺀ،  ﻭﺍﻟﺘﺪﺭﻳﺐ ﺍﻟﻨﺎﺟﺢ، ﺍﻟﺘﻮﺍﺻﻞ، ﻭﻏﻴﺮﻫﺎ ...
              <br>
              التدﺭيس : ﺍﻭﻛﻞ ﺍﻟﻴﻪ ﺍﻟﺘﺪﺭﻳﺲ ﻓﻲ ﺍﻟﻤﺪﺭﺳﺔ ﺍﻟﺸﻌﺒﺎﻧﻴﺔ ﻟﻤﻮﺍﺩ ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ ﻭﺍﻟﺸﻤﺎﺋﻞ ﻭﺍﻟﻤﻌﻠﻮﻣﺎﺗﻴﺔ ﻟﺴﻨﻮﺍﺕ ﻣﻦ ﻋﺎﻡ ٢٠٠٥ﺣﺘﻰ٢٠١٠ ﻡ
              <br>
              ﻛﻤﺎ ﺩﺭست ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ ﻓﻲ ﺍﻟﺨﺴﺮﻭﻳﺔ ‏( ﺍﻟﺸﺮﻋﻴﺔ ‏) ﻟﺜﻼﺙ ﺳﻨﻴﻦ ﺣﺘﻰ ﻋﺎﻡ ٢٠١١ﻡ
              <br>
              العمل:
              <br>عملت سابقا ﻓﻲ ﺍﻻﻭﻗﺎﻑ ﺿﻤﻦ ﻣﻜﺘﺐ ﻣﻌﺎﻫد  تحفيظ ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ
              ﻭﺍﺷﺮفت ﻋﻠﻰ ﻋﺪﺩ ﻣﻦ ﺍﻟﺪﻭﺭﺍﺕ ﺍﻟﻤﻘﺎﻣﺔ ﻟﻼﺳﺎﺗﺬﺓ ﻭﺍﻟﻄﻼﺏ ﻓﻲ ﻣﺴﺎﺟﺪ
              ﻭﻣﻌﺎﻫﺪ ﺣﻠﺐ
              ﻛﻤﺎ ﻛنت ﻣﺸﺮﻓﺎ ﻋﻠﻰ ﺍﻣﻮﺭ ﺍﻟﺴﺒﺮ ﻟﻄﻼﺏ ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ
              ﻭﻋﺪﺩ ﻣﻦ ﺍﻟﻤﺴﺎﺑﻘﺎﺕ ﺍﻟﺪﺍﺧﻠﻴﺔ ﺍﻭ ﻋﻠﻰ ﻣﺴﺘﻮﻯ ﺍﻟﻘﻄﺮ
              ﻓﻲ ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ ﻭﺍﻟﺤﺪﻳﺚ ﺍﻟﺸﺮﻳﻒ
              <br>
              ﺍﻟﺪﻭﺭﺍﺕ ﺍﻟﺘﻲ ﺃﻋﻄيتها ﺍﻭ ﺷﺎﺭكت ﻓﻴﻬﺎ:
              <br>
              ١ ﺩﻭﺭﺍﺕ ﻟﻼﺳﺎﺗﺬﺓ ﻓﻲ

              ﺍﺻﻮﻝ ﺗﻌﻠﻴﻢ ﺍﻟﻘﺮﺍﺀﺓ ﺍﻟﻌﺮﺑﻴﺔ
              <br>
              ٢ - ﺩﻭﺭﺍﺕ ﻟﻼﺳﺎﺗﺬﺓ ﻓﻲ

              ﺗﻌﻠﻴﻢ ﺍﻟﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ ﻭﺗﺠﻮﻳﺪﻩ
              <br>
              ٣ - ﺩﺭﻭﺱ ﻓﻲ ﺷﺮﺡ ﻣﺘﻦ ﺍﻟﺠﺰﺭﻳﺔ ‏(ﺑﺎﻟﺘﺠﻮﻳﺪ ‏) ﻣﻊ ﺍﻟﺴﻨﺪ ﺍﻟﻤﺘﺼﻞ

              ﻟﻼﻣﺎﻡ ﺍﺑﻦ ﺍﻟﺠﺰﺭﻱ ﺭﺣﻤﻪ ﺍﻟﻠﻪ
              <br>
              ٤ -ﺩﺭﻭﺱ ﻓﻲ ﺍﻹﻋﺠﺎﺯ ﺍﻟﻌﻠﻤﻲ ﻓﻲ ﺍﻟﻘﺮﺁﻥ ﺍﻟﻜﺮﻳﻢ ﻭﺍﻟﺤﺪﻳﺚ ﺍﻟﺸﺮﻳﻒ
              <br>
              ٥ - ﺩﺭﻭﺱ ﻓﻲ ﺷﺮﺡ ﻛﺘﺎﺏ ﺍﻟﺘﺒﻴﺎﻥ ﻓﻲ ﺁﺩﺍﺏ ﺣﻤﻠﺔ ﺍﻟﻘﺮﺁﻥ ﺍﻟﻜﺮﻳﻢ ﻣﻊ
              <br>
              ﺍﻹﺟﺎﺯﺓ ﺑﺎﻟﺴﻨﺪ ﻟﻺﻣﺎﻡ ﺍﻟﻨﻮﻭﻱ ﺭﺣﻤﻪ ﺍﻟﻠﻪ
              <br>
              ٦ - ﺩﺭﻭﺱ ﻓﻲ ﺷﺮﺡ ﻛﺘﺐ ﺍﻹﻣﺎﻡ ﺳﻴﺪﻱ ﺍﻟﺸﻴﺦ ﻋﺒﺪ ﺍﻟﻠﻪ ﺳﺮﺍﺝ ﺍﻟﺪﻳﻦ
              ﺭﺣﻤﻪ ﺍﻟﻠﻪ ﻭﺭﺿﻲ ﻋﻨﻪ

              ﻣﺜﻞ ﻛﺘﺎﺏ ‏(ﺳﻴﺪﻧﺎ ﻣﺤﻤﺪ ﺭﺳﻮﻝ ﺍﻟﻠﻪ ﺻﻠﻰ ﺍﻟﻠﻪ ﻋﻠﻴﻪ ﻭﺁﻟﻪ ﻭﺳﻠﻢ ‏) ﻭ

              ‏( ﺍﻟﻬﺪﻱ ﺍﻟﻨﺒﻮﻱ ‏) ...
              <br>
              ٧ - ﺩﺭﻭﺱ ﻓﻲ ﻋﻠﻢ ﻣﺼﻄﻠﺢ ﺍﻟﺤﺪﻳﺚ ﺍﻟﺸﺮﻳﻒ ‏( ﺷﺮﺡ ﺍﻟﺒﻴﻘﻮﻧﻴﺔ ‏)
              <br>
              ٨ - ﺩﺭﻭﺱ ﻟﻼﺳﺎﺗﺬﺓ ﻓﻲ

              ﻓﻦ ﺍﻹﻟﻘﺎﺀ
              <br>
              ٩ - ﺍﻻﺷﺮﺍﻑ ﻋﻠﻰ ﺩﻭﺭﺓ ﻟﻼﺳﺎﺗﺬﺓ ﺑﺎﻟﺘﺠﻮﻳﺪ ﺍﻟﻌﻤﻠﻲ ﻟﻠﻘﺮﺍﻥ ﺍﻟﻜﺮﻳﻢ
              <br>
              ١٠ ﺩﺭﻭﺱ ﻟﻼﺳﺎﺗﺬﺓ ﻓﻲ ﺭﻭﺍﻳﺘﻲ ﺣﻔﺺ ﻋﻦ ﻋﺎﺻﻢ ﻭﻭﺭﺵ ﻋﻦ ﻧﺎﻓﻊ

              ﺍﻗﻴﻤﺖ ﻓﻲ ﺍﻟﺠﺎﻣﻊ ﺍﻟﻜﺒﻴﺮ ﺑﺤﻠﺐ

              ﺑﺎﻻﺿﺎﻓﺔ ﺍﻟﻰ ﻋﺪﺩ ﻛﺒﻴﺮ ﻣﻦ ﺩﺭﻭﺱ ﺍﻟﺘﻔﺴﻴﺮ ﻭﺍﻟﺘﺠﻮﻳﺪ ﻭﺗﻼﻭﺓ ﺍﻟﻘﺮﺁﻥ

              ﺍﻟﻜﺮﻳﻢ ﻓﻲ ﻋﺪﺩ ﻣﻦ ﻣﺴﺎﺟﺪ ﺣﻠﺐ

              <br>
              ١١  إمام  مسجد

              وخطابة سابقا في أكثر من مسجد



              <br>
              لدي  بعض  المؤلفات

              مثل

                ﻣﺎﺋﺔ ﻓﺎﺋﺪﺓ ﻟﻠﺼﻼﺓ ﻋﻠﻰ ﺍﻟﻨﺒﻲ صلى الله عليه وسلم-


              (ﺻﻔﺎﺕ ﺍﻟﺤﺒﻴﺐ ﺍﻟﻤﺼﻄﻔﻰ ﺻﻠﻰ ﺍﻟﻠﻪ ﻋﻠﻴﻪ ﻭﺁﻟﻪ ﻭﺳﻠﻢ* ‏)-

               ‏(  ﺃﺧﻼﻕ ﺍﻟﺤﺒﻴﺐﺍﻟﻤﺼﻄﻔﻰ ﺻﻠﻰ ﺍﻟﻠﻪ ﻋﻠﻴﻪ ﻭﺁﻟﻪ ﻭﺳﻠﻢ* ‏)-


              أسباب سعة الرزق-

              الذبائح-

              محبة سيدنا محمد صلى الله عليه وسلم وتعظيمه-

              تفسير لبعض مفردات القرآن-

              وغيرها  من الأبحاث والكتب-


              <br>
              ﻧﺴﺄﻝ ﺍﻟﻠﻪ ﺍﻟﻌﻈﻴﻢ ﺍﻟﻘﺒﻮﻝ ﻭﺍﻟﺘﻮﻓﻴﻖ ﻟﻠﻤﺰﻳﺪ ﻣﻦ ﻧﺸﺮ ﺍﻟﻌﻠﻢ ﺍﻟﻨﺎﻓﻊ

              ﻭﺃﻥ ﻳﺠﻌﻠﻨﺎ ﻗﺮﺓ ﻋﻴﻦ ﻟﻠﺤﺒﻴﺐ ﺍﻟﻤﺼﻄﻔﻰ ﻋﻠﻴﻪ ﺍﻟﺼﻼﺓ ﻭﺍﻟﺴﻼﻡ


            </p>
          </div>

        </div>
      </div>


    </section>
{% endblock %}