{% extends "base.html" %}
{% load static %}
{% block title %}د. ضاهر الحمود - المدير الإداري {% endblock %}

{% block content %}
<section class="section bg-light">
      <div class="container text-center">
        <img src="{% static 'images/management/dr_daher_header.jpg' %}" class="w-75" alt="">
      </div>
    </section>


<!-- 1. start -->
<section class="section bg-light">

    <div class="container mb-5">
        <div class="row">

            <div class="col-12">
                <h2 class="mb-4 golden-after">المدير الإداري ونائب رئيس الجامعة</h2>
            </div>

            <div class="col-12 mt-4">
                <p class="lead p-staff">
                    ـ دكتوراه في الدراسات الإسلامية - الجامعة الدولية ـ مصر.
                    <br>
                    ـ مساعد مجاز في الهندسة المدنية من المعهد المتوسط للمراقبين الفنيين. <br>
                    ـ نائب رئيس جامعة أهل الصفة ومحاضر فيها ـ سوريا. <br>
                    ـ مدرّس في معهد الإمام النووي رحمه الله. <br>
                    ـ مدرس اللغة العربية لغير الناطقين بها (عن بعد) في المركز الثقافي العربي الهندي ـ نيودلهي. <br>
                    ـ مدرّب تنمية بشرية معتمد في عدد من الأكاديميات العربية. <br>
                    ـ مجاز في علم الفرائض والمواريث بالإضافة إلى عدد من الإجازات في علوم وكتب أخرى. <br>

                </p>
            </div>

        </div>
    </div>


</section>
{% endblock %}