{% extends "base.html" %}
{% load static %}
{% block title %}د. موفق المحيميد{% endblock %}

{% block content %}

<section class="section bg-light">
      <div class="container text-center">
        <img src="{% static 'images/management/dr_mouaffak.jpg' %}" class="w-75" alt="">
      </div>
    </section>

<section class="section bg-light">

      <div class="container mb-5">
        <div class="row">

          <div class="col-12">
            <h2 class="mb-4 golden-after">رئيس قسم السيرة النبوية الشريفة </h2>
          </div>

          <div class="col-12 mt-4">
            <p class="lead p-staff">

                الاسم موفق محمد المحيميد

              مواليد : 1976
              <br>

              خريج: معهد دار المعلمين 1998
              <br>

              خريج: كلية الشريعة من دمشق2008
              <br>

              دكتوراه في الدراسات الإسلامية من الجامعة الدولية
              <br>

              مدرس في جامعة اهل الصفة
              <br>

              مدرس في معهد الإمام النووي
              <br>

              إجازة في علم الفرائض على المذهب الشافعي

              وإجازة في كتاب  كفاية الاخيار الشافعي

              وإجازة في الأصول


            </p>
          </div>

        </div>
      </div>


    </section>

{% endblock %}