{% extends "base.html" %}
{% load static %}
{% block title %}د. أسامةالأبرش - رئيس الجامعة {% endblock %}

{% block content %}

<section class="section bg-light">
      <div class="container text-center">
        <img src="{% static 'images/management/dr_osama/dr_osama_header.jpg' %}" class="w-75" alt="">
      </div>
    </section>

<section class="section bg-light">

      <div class="container mb-5">
        <div class="row">

          <div class="col-12">
            <h2 class="mb-4 golden-after">رئيس الجامعة</h2>
          </div>

          <div class="col-12 mt-4 text-center">
            <img src="{% static 'images/management/dr_osama/dr_osama_1.jpg' %}" class="w-75" alt="#">
            <img src="{% static 'images/management/dr_osama/dr_osama_2.jpg' %}" class="w-75" alt="#">
            <img src="{% static 'images/management/dr_osama/dr_osama_3.jpg' %}" class="w-75" alt="#">
            <img src="{% static 'images/management/dr_osama/dr_osama_4.jpg' %}" class="w-75" alt="#">
          </div>

        </div>
      </div>

    </section>
{% endblock %}