{% extends "base.html" %}
{% load static %}
{% block title %}أ. شفيق الدين الصلاح{% endblock %}
{% block content %}
<section class="section bg-light">
      <div class="container text-center">
        <img src="{% static 'images/management/dr_shafeek.jpg' %}" class="w-75" alt="">
      </div>
    </section>


    <!-- start main -->

    <!-- 1. start -->
    <section class="section bg-light">

      <div class="container mb-5">
        <div class="row">

          <div class="col-12">
            <h2 class="mb-4 golden-after">رئيس قسم النحو والصرف </h2>
          </div>

          <div class="col-12 mt-4">
            <p class="lead p-staff">

              الاسم :شفيق الدين الصلاح -
              مواليد 1992

              مكان الولاده : تيمركره ۔دير ۔ الباكستان -

              مكان الاقامه بلدي العزيز الباكستان
              <br>

              خريج :المدرسةالعربية بلاهور باكستان
              <br>
              المتخصص:في الفقه الحنفي و علوم الحديث من الجامعه الفاروقية كراتشي باكستان
              <br>

              المتدرب : في العلوم العقليه اي المنطق والفلسفة  والعقيده (الجامعة الحقانية )
              <br>

              ماجستير في الادب العربي مع الشرف الاول ( gold medalist ) الجامعة ملاكند
              <br>

              ماجستير الفلسفة في الادب العربي : aiou باسلام آباد
              <br>

              اجازه في تدريس الاحاديث والفقه من الجامعات المتعدده والمشائخ الكبار ( الشيخ سميع الحق ۔الشيخ الدكتور شير علي شاه الشيخ الدكتور عبد الرزاق اسكندر رحمهم الله )
              <br>

              الدبلوم في اللغةالفارسية والعربية
              <br>


              عملي الان :
              <br>

              1:مدرس اللغة العربية والفقة الحنفي في الجامعة العثمانية
              <br>

              2معين دار الافتاء بجامعة العلوم الاسلاميه تيمركره
              <br>

              3مدير جامعةاسماء بنت ابي بكر ومدرس العقيده الماتريدية في تلك الجامعة
              <br>

              4: خطيب المسجد الماجد في مدينة تيمركره

            </p>
          </div>

        </div>
      </div>


    </section>


{% endblock %}