{% extends "base.html" %}

{% block title %}حذف الدورة{% endblock %}

{% block content %}
  <div class="container">
    <h1>حذف الدورة "{{ object.title }}"</h1>

    <div class="alert alert-danger">
      <p>هل أنت متأكد من رغبتك في حذف "{{ object }}"؟</p>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <button type="submit" class="btn btn-danger">تأكيد</button>
        <a href="{% url 'manage_course_list' %}" class="btn btn-secondary">إلغاء</a>
      </div>
    </form>
  </div>
{% endblock %}
