{% extends "base.html" %}

{% block title %}
    {% if object %}
        تعديل الدورة "{{ object.title }}"
    {% else %}
        إنشاء دورة جديدة
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
<h1 class="mt-5">
    {% if object %}
        تعديل الدورة "{{ object.title }}"
    {% else %}
        إنشاء دورة جديدة
    {% endif %}
</h1>

    <form method="post" class="mt-4">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="mb-3">
        <button type="submit" class="btn btn-success me-2" name="action" value="save">حفظ <i class="fa-regular fa-floppy-disk"></i></button>
        <a href="{% url 'manage_course_list' %}" class="btn btn-secondary">إلغاء</a>
        </div>
    </form>
</div>
{% endblock %}
{% block domready %}
$('#id_faculty').change(function(){
      var facultyId = $(this).val();
      $.ajax({
        url: '/course/faculty/subjects/',
        type: 'GET',
        data: {'faculty_id': facultyId},
        success: function(response){
          $('#id_subject').empty();
          $.each(response, function(index, subject){
            $('#id_subject').append('<option value="'+subject.id+'">'+subject.title+'</option>');
          });
        },
        error: function(xhr, errmsg, err){
          console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    });
{% endblock %}