{% extends "base.html" %}
{% load static %}

{% block title %}دوراتي{% endblock %}

{% block content %}

<section class="section mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="{{ user.photo.url }}" width="70" height="70" alt="profile_pic" class="float-right ml-4">
            <div class="float-right ">
              <h3 class="mt-3">{{ user.first_name }} {{ user.last_name }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>


    <h1 class="text-center">دوراتي</h1>


  <section class="section">
      <div class="container">
    {% for course in object_list %}
        <div class="col-12 mb-5">
          <h3>{{ course.title }}</h3>
          <h6 class="text-muted">{{ course.faculty }}</h6>
          <h6 class="text-muted">{{ course.subject }}</h6>
          <h6 class="text-muted">{{ course.study_year }}</h6>
          <h6 class="text-muted">{% if course.is_active %}منشور {% else %}غير منشور{% endif %}</h6>
          <div class="list-group list-group-horizontal text-center">
            <a href="{% url 'course_edit' course.id %}" class="list-group-item list-group-item-action">تحرير <i class="fa-regular fa-pen-to-square"></i></a>
            <a href="{% url 'course_delete' course.id %}" class="list-group-item list-group-item-action">حذف <i class="fa-solid fa-trash"></i></a>
            <a href="{% url 'course_module_update' course.id %}" class="list-group-item list-group-item-action">تحرير الوحدات <i class="fa-regular fa-pen-to-square"></i></a>
            {% if course.modules.count > 0 %}
              <a href="{% url 'module_content_list' course.modules.first.id %}" class="list-group-item list-group-item-action"> إدارة المحتوى <i class="fas fa-cogs"></i></a>
            {% endif %}
            <a href="{% url 'question_list' course.id %}" class="list-group-item list-group-item-action">بنك الأسئلة <i class="fas fa-book"></i></a>
            </div>
        </div>
    {% empty %}
      <p>لم تقم بإنشاء أي دورات بعد.</p>
    {% endfor %}
    <div class="sticky-container">
      <a href="{% url 'course_create' %}" class="create-course-link">إنشاء دورة جديدة<i class="fas fa-plus"></i></a>
    </div>

  </div>
    </section>
{% endblock %}
