{% extends "base.html" %}
{% load course %}
{% block title %}
  الوحدة {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
{% with course=module.course %}

  <div class="container-fluid">
    <div class="row">
        <!-- Side Panel -->
        <div class="col-md-3">
            <div class="side-panel">
                <ul class="list-group">
                    <h1 class="text-center">الدورة "{{ course.title }}"</h1></ul>
                <ul id="modules" class="list-group">

                    {% for m in course.modules.all|sort_by:'order' %}
                        <li data-id="{{ m.id }}" {% if m == module %} class="list-group-item selected"{% else %} class="list-group-item"{% endif %}>
                            <div class="row">
                              <div class="col-3 col-sm-2">
                                <span class="order">{{ m.order|add:1 }}</span>
                              </div>
                              <div class="col-9 col-sm-10">
                                <a href="{% url 'module_content_list' m.id %}" class="text-muted">
                                  {{ m.title }}
                                </a>
                              </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">لا توجد وحدات بعد.</li>
                    {% endfor %}
                </ul>
                <ul class="list-group">
                   <a href="{% url 'course_module_update' course.id %}" class="btn btn-primary">تعديل الوحدات <i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="{% url 'manage_course_list' %}" class="btn btn-secondary">الرجوع إلى دوراتي</a>
                </ul>

            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">

            <div class="main-content">
                <h2>الوحدة {{ module.order|add:1 }}: {{ module.title }}</h2>
                <div id="module-contents">
                    {% for content in module.contents.all %}
                        <div data-id="{{ content.id }}">
                            {% with item=content.item %}
                                <p>{{ item }} ({{ item|model_name }})</p>

                                <form action="{% url 'module_content_delete' content.id %}" method="post" onsubmit="return confirm('هل أنت متأكد أنك تريد حذف هذا المحتوى؟');">
                                    <a href="{% url 'module_content_update' module.id item|model_name item.id %}" class="btn btn-secondary">تعديل</a>
                                    <input type="submit" value="حذف" class="btn btn-danger">
                                    {% csrf_token %}
                                </form>

                            {% endwith %}
                        </div>
                    {% empty %}
                        <p>لا تحتوي هذه الوحدة على محتوى بعد.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-content-button" id="addContentButton"><i class="fa-solid fa-plus"></i></div>

<a href="{% url 'module_content_create' module.id 'text' %}"><div class="content-button button-1"><i class="fa-solid fa-t"></i></div></a>
<a href="{% url 'module_content_create' module.id 'image' %}"><div class="content-button button-2"><i class="fa-regular fa-image"></i></div></a>
<a href="{% url 'module_content_create' module.id 'video' %}"><div class="content-button button-3"><i class="fa-solid fa-video"></i></div></a>
<a href="{% url 'module_content_create' module.id 'file' %}"><div class="content-button button-4"><i class="fa-solid fa-file"></i></div></a>

  </div>
{% endwith %}
{% endblock %}

{% block domready %}
  $('#modules').sortable({
    stop: function(event, ui) {modules_order = {};
      $('#modules').children().each(function(){
        // Update the order field
        $(this).find('.order').text($(this).index() + 1);
        // Associate the module's id with its order
        modules_order[$(this).data('id')] = $(this).index();

    });
      $.ajax({
        type: 'POST',
        url: '{% url "module_order" %}',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(modules_order)
      });
    }
  });

  $('#module-contents').sortable({
    stop: function(event, ui) {
      contents_order = {};
      $('#module-contents').children().each(function(){
        // Associate the module's id with its order
        contents_order[$(this).data('id')] = $(this).index();
      });

      $.ajax({
        type: 'POST',
        url: '{% url "content_order" %}',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(contents_order),
      });
    }
  });

const addButton = document.getElementById('addContentButton');
  const addIcon = addButton.querySelector('i');

  addButton.addEventListener('click', function() {
    document.querySelectorAll('.content-button').forEach(function(button) {
      button.classList.toggle('show');
    });
    addIcon.classList.toggle('fa-plus');
    addIcon.classList.toggle('fa-xmark');
  });
{% endblock %}
