{% extends "base.html" %}

{% block title %}إنشاء وحدة دراسية{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">إنشاء وحدة دراسية</h1>
    <form method="post" class="mt-4">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary me-2" name="action" value="save">حفظ <i class="fa-regular fa-floppy-disk"></i></button>
            <button type="submit" class="btn btn-primary me-2" name="action" value="save_and_add_another">حفظ وإضافة أخرى</button>
            <a href="{% url 'course_module_update' course_id %}" class="btn btn-secondary">إلغاء</a>
        </div>
    </form>
</div>
{% endblock %}
