{% extends "base.html" %}
{% load static %}
{% block title %}الدراسات العليا في جامعة الإمام الأعظم أبي حنيفة النعمان{% endblock %}
{% block content %}


     <section class="section">
      <div class="">
        <img src="{% static 'images/management/banner.png' %}" class="w-100" alt="">
      </div>
    </section>


    <!-- start main -->

    <!-- 1. start  -->
    <section class="section mb-5">

      <div class="container mb-5">
        <div class="row">

          <div class="col-lg-6 col-12">
            <div class="project__item">
              <h2 class="golden-after mb-4">الدراسات العليا</h2>
              <p class="p-whoweare">بسم الله الرحمن الرحيم، الحمد لله رب العالمين وأفضل الصلاة وأتم التسليم على سيدنا محمد حبيب رب العالمين
                <br>
                أما بعد:
                <br>
                تعلن عمادة الدراسات العليا عن فتح باب التسجيل في قسم الدراسات العليا (دبلوم-ماجستير-دكتوراة), بشرط حصول الطالب على درجة بكالوريوس.
              </p>
              <p class="p-whoweare">
                كل طالب يتخرج من (جامعة الإمام الأعظم أبي حنيفة النعمان رضي الله تعالى عنه )
                يمكنه الحصول على شهادة مصدقة من جامعة شمس القلوب.
              </p>
              <p class="p-whoweare">
                التوثيقات المتاحة تكون على الشهادة الأصلية وهي كالتالي : توثيق وختم كاتب عدل الولاية و وزارة الخارجية الأمريكية أو الابوستيل (وليست من وزارة التعليم) والجامعة غير مسؤولة عن التوثيق في بلد الطالب لأن لكل بلد قوانينه الخاصة في توثيق الشهادات.              
              </p>
              <a class="text-dark p-whoweare" href="https://youtu.be/XT_H3aQwuQc"> شاهد فيديو تعريفي عن الدراسات العليا في الجامعة</a>

              </div>
          </div>

          <div class="col-lg-6 col-12">
            <div>
              <img class="w-100 border img-radius" src="images/derasat olia.jpg"></img>
            </div>
          </div>  

        </div>
      </div>

    </section>
{% endblock %}