{% extends "base.html" %}
{% load static %}
{% block title %}قسم القرآن الكريم وعلومه{% endblock %}
{% block content %}

    <section class="section">
      <div class="">
        <img src="{% static 'images/management/banner.png' %}" class="w-100" alt="">
      </div>
    </section>
 <!-- start main -->

    <!-- 1. start  -->
    <section class="section bg-light ">

      <div class="container mb-5">
        <div class="row">

          <div class="col-12">
            <div class="project__item ">
              <h2 class="mb-4 text-center">قسم القرآن الكريم وعلومه</h2>
            </div>
            <br><br>
            <div class="img-manhaj text-center">
              <img src="{%static 'images/eulum/shareia/quran/quran 1-1.png' %}" alt="" class="w-75">
              <img src="{%static 'images/eulum/shareia/quran/quran 1-2.png' %}" alt="" class="w-75">
              <img src="{%static 'images/eulum/shareia/quran/quran 2.png' %}" alt="" class="w-75">
              <img src="{%static 'images/eulum/shareia/quran/quran 3.png' %}" alt="" class="w-75">
              <img src="{%static 'images/eulum/shareia/quran/quran 4.png' %}" alt="" class="w-75">
            </div>
          </div>

        </div>

    </section>

{% endblock %}