{% extends "base.html" %}
{% block title %}إعادة تعيين كلمة المرور{% endblock %}
{% block content %}
    <div class="jumbotron green-jumbotron">
        <div class="container">
            <h1>إعادة تعيين كلمة المرور</h1>
            <p>لقد أرسلنا لك تعليمات لضبط كلمة المرور الخاصة بك عبر البريد الإلكتروني.</p>
            <p>إذا لم تتلقى البريد الإلكتروني، يرجى التأكد من أنك قد قمت بإدخال العنوان الذي سجلت به أو تفقد مجلد الرسائل الغير مرغوب بها (spam).</p>
        </div>
    </div>
{% endblock %}
