{% extends "base.html" %}
{% block title %}تم تغيير كلمة المرور{% endblock %}
{% block content %}
    <div class="jumbotron green-jumbotron">
        <div class="container">
            <h1>تم تغيير كلمة المرور</h1>
            <p>لقد تم تغيير كلمة المرور بنجاح.</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <p>يمكنك تسجيل الدخول مرة أخرى</p>
                <button class="nav-link regist btn btn-warning" type="submit">تسجيل الدخول</button>
            </form>
        </div>
    </div>
{% endblock %}