{% extends "base.html" %}

{% block title %}إعادة تعيين كلمة المرور{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">إعادة تعيين كلمة المرور</h1>
      {% if validlink %}
        <p class="text-center">الرجاء إدخال كلمة المرور الجديدة مرتين:</p>
        <form method="post" class="mt-4">
          {% csrf_token %}
          <div class="form-group">
            <input type="password" class="form-control {% if form.new_password1.errors %} is-invalid {% endif %}" name="new_password1" placeholder="كلمة المرور الجديدة">
            {% for error in form.new_password1.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <input type="password" class="form-control {% if form.new_password2.errors %} is-invalid {% endif %}" name="new_password2" placeholder="تأكيد كلمة المرور الجديدة">
            {% for error in form.new_password2.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary btn-block">تغيير كلمة المرور</button>
        </form>
      {% else %}
        <p class="text-center">رابط إعادة تعيين كلمة المرور غير صالح، ربما لأنه تم استخدامه بالفعل.
          الرجاء طلب رابط جديد لإعادة تعيين كلمة المرور.
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
