{% extends "base.html" %}
{% block title %}تم إعادة تعيين كلمة المرور{% endblock %}
{% block content %}
    <div class="jumbotron green-jumbotron">
        <div class="container">
            <h1 class="display-4">تمت إعادة تعيين كلمة المرور</h1>
            <p class="lead">لقد تم إعادة تعيين كلمة المرور الخاصة بك بنجاح.</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <p>يمكنك تسجيل الدخول مرة أخرى</p>
                <button class="nav-link regist btn btn-warning" type="submit">تسجيل الدخول</button>
            </form>
        </div>
    </div>
{% endblock %}